# Server environment variables
NODE_ENV=production
PORT=3000
JWT_SECRET=your_production_jwt_secret
MONGO_URI=your_production_mongodb_uri
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SENDER_EMAIL=your_sender_email
